.main {
    display: flex;
    flex-direction: row;
    margin: 20px;
   
}
.right {
   flex-grow: 1;
  
}
.left {
    flex-grow: 1;
}
.middle {
  flex-grow: 4;
}
.box {
    width: 100%;
    background-color: #dddddd;
    border-width: 2px;
    border-color: #d3d3d3;
    border-style: ridge;
    margin-bottom: 20px;
}
.box > .box-header {
    border-bottom: 2px solid #d3d3d3;
    padding: 5px;
    font-weight: bold;
    color: rgb(14, 144, 219);
}
.box > .box-body {
   padding: 10px;
  
}
.box-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.box-input > label {
    flex-grow: 1;
    width: 50px;
}
.box-input >  input {
    flex-grow: 2;
    
}

.box-input >  select {
    flex-grow: 1;
    
    width: 60%;
}


  table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    
  }